src/
coverages/

.github/
.vscode/
.husky/

.npmignore

.gitattributes
.gitignore
.gitmodules

*.tgz

.releaserc
.nvmrc
.czrc
.editorconfig
.prettierrc.mjs

commitlint.config.js
eslint.config.js
jest.config.ts

rollup.config.mjs

README.md

tsconfig.json
@types/
